<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/lib/css/estilo.css"/>

        <title>UTFPR - Gerenciador de Pedidos de Restaurante</title>
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css"/>
        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        <header>
            <partial name="./_MainMenuPartialPage.cshtml"/>
        </header>

        <main>
            @RenderBody()
        </main>

        <footer>2023 - Ana Carolina Kotz, Ana Carolina Jungbluth, Marco A. Schneiders</footer>
        <script>
            const currentUrl = window.location.href;
            const navLinks = document.querySelectorAll('.nav-link');
            navLinks.forEach(link => {
            const linkUrl = link.href;

            if (currentUrl === linkUrl) {
                
                link.classList.add('active');
            }
            });
        </script> 
        @RenderSection("scripts", required:false)
    </body>

</html>