@page "{id:int}"
@model ProjetoGerenciamentoRestaurante.RazorPages.Pages.Atendimento.Delete

<style>
    .home{
        background-color: lightgray;
        text-align: center;
        flex: 1 1;
        padding: 30px 30px 30px 30px;
        height: 87vh;
    }
</style>

<div class="home">
<div align="center">
    <h2>Deseja realmente remover esse atendimento?</h2>

    <p><strong>Numero da Mesa:</strong> @Model.AtendimentoModel.Mesa!.Numero </p>


<form method="post">
    <div class="form-group">
        <input type="submit" value="Sim" class="btn btn-danger"/>
        <a asp-page="/Atendimento/Index" class="btn btn-primary"> Voltar</a>
    </div>
</form>
</div>
</div>